[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = {version = "~=1.4.25", extras = ["mypy"]}
python-dotenv = "~=0.19"

[dev-packages]
pytest = "*"
mypy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
